body{
    display: flex;
    justify-content: center;
}
#calculator {
    border: 1px solid rgb(187, 183, 183);
    border-radius: 5px;
    width: 200px;
    background-color: gainsboro;
  }
  
  #display {
    margin: 10px;
    width: 85%;
    font-size: 25px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .button {
    width: 45px;
    height: 45px;
    margin: 3px;
    background-color: rgba(127, 255, 212, 0.342);
    border: 1px solid black;
  }
  #clear{
    background-color: rgba(255, 0, 0, 0.783);
  }
  #equal{
    background-color: rgba(94, 255, 0, 0.783);
  }